<!DOCTYPE html>
<html ng-app="OneTwoThreeApp">
	<head>
		<title>One Two Three Test!</title>

        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="/bower_components/angular-material/default-theme.css">

    </head>
	<body>
        <%- body %>

        <!-- Angular Material Dependencies -->
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>

        <script src="/bower_components/angular-material/angular-material.min.js"></script>

        <script src="/js/app.js"></script>
	</body>
</html>
